<p id="notice"><%= notice %></p>
<div class="container recipe-box">
      <% @recipes.each do |recipe| %>
        <h6><%= link_to recipe.title, recipe %></h6>
        <br>
      <% end %>
      <br>
</div>
