/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Whiteline's Preferred Colours */
$dark-pink: #d58693;
$pink: #eecfd4;
$dark-blue: #58a4b0;
$purple: #c490d1;
$light-blue: #7cc6fe;
$brown: #9f7e69;

nav {
  background-color: $pink;
  color: black;
}
.recipe-box {
  text-align: left;
}

.recipe-box a {
  color: $dark-pink;
  font-weight: bold;
  margin: auto;
}

a:hover {
  background-color: transparent;
}

.single-instruction-area {
  text-align: left;
  border-style: solid;
  border-color: $pink;
  border-radius: 5px;
  border-width: 5px;
  margin: 10px;
}

.instruction-text {
  margin-top: 10px;
}

.instruction-picture {
  margin: 10px;
}
